# Purchased Assets
3DForge/
3DForge.meta
CyberGirl/
CyberGirl.meta
EasyMainMenu/
EasyMainMenu.meta
Emerald AI/
Emerald AI.meta
Fantasy_creature_Battle Spider/
Fantasy_creature_Battle Spider.meta
Footsteps - Essentials/
Footsteps - Essentials.meta
Gaia User Data/
Gaia User Data.meta
Horror Elements/
Horror Elements.meta
Invector-3rdPersonController/
Invector-3rdPersonController.meta
Monster SFX - 111518/
Monster SFX - 111518.meta
Music Atmosphere Horror (free)/
Music Atmosphere Horror (free).meta
Procedural Worlds/
Procedural Worlds.meta
Rhino/
Rhino.meta
SoundBits_FreeSFX_2020/
SoundBits_FreeSFX_2020.meta
TextMesh Pro/
TextMesh Pro.meta
Treasure chest closed/
Treasure chest closed.meta
Ultimate 10 Plus Shaders/
Ultimate 10 Plus Shaders.meta